{% extends "base2.html.twig" %}

{% block sidebar %}
    <div id="wrapper">
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="{{ path('client_page') }}" class=""><i class="lnr lnr-home"></i> <span>Tableau de bord</span></a></li>
                        <li><a href="{{ path('client_offres') }}" class="active"><i class="lnr lnr-list"></i> <span>Offres d’emploi/stages/ alternance</span></a></li>
                        <li><a href="{{ path('client_actualite') }}" class=""><i class="lnr lnr-layers"></i> <span>Actualité de Prev’Risk</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Profil</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="{{ path('client_profil') }}" class="">Mon Profil</a></li>
                                    <li><a href="{{ path('client_mesOffre') }}" class="">Mes offres</a></li>
                                    <li><a href="{{ path('client_mesActualite') }}" class="">Mes actualités</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}


    <div class="main">

        <!-- MAIN CONTENT -->
        <div class="main-content">

            <div class="container-fluid">



                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <div class="panel panel-headline">

                            <div class="panel-heading">
                                <h3 class="panel-title">Personne recherché</h3>
                                <p class="panel-subtitle"> </p>
                            </div>
                        </div>
                    </div>
                </div>

                {% if users == "vide" %}
                    <div class="panel">
                        <div class="panel-heading">
                            <h2 class="panel-title">Recherche non disponible...</h2>
                        </div>
                    </div>

                {% else %}


                    {% for o in users %}

                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Nom : {{ o.nom }} Prenom : {{ o.prenom }}</h3>
                            </div>
                            <div class="panel-body">
                                <p>Diplome : {{ o.diplome }} </p>
                                <p>Date d'entrée à l'iriaf : {{ o.dateEntree|date('d/m/Y') }}</p>
                                <p>Date de sortie de l'iriaf : {{ o.dateSortie|date('d/m/Y') }}</p>
                                <p>Email : {% if o.acceptmail == 0 %} Information pas disponible {% else %} {{ o.email }}  {% endif %} </p>
                                <p>Numéro de telephone : {% if o.accepttelephone == 0 %} Information pas disponible {% else %} {{ o.telephone }} {% endif %} </p>
                                <br>
                                {% if o.acceptmail == 1%}
                                <p>Envoyer un email</p>
                                <form>
                                    <textarea name="message" id="message"  value="" aria-placeholder="Votre message......" rows="5" cols="100" ></textarea><div id="erreurMail"> </div><div id="success"> </div>
                                    <button type="button" class="btn btn-primary" onclick='envoie();' >Envoyer</button>
                                    <input id="mail" type="hidden" value="{{ o.email}}"/>

                                </form>
                                {% endif %}

                            </div>
                        </div>

                    {% endfor %}


                {% endif %}


            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>

    <script>

        function envoie() {

            $("#erreurMail").empty();

            var message = $("#message").val();
            var mail =$("#mail").val();




            if (message ==""){
                $("#erreurMail").append('<p style="color: #8f1f00"> Vous devez remplir ce champ : Message.</p>');


            }else {


                $.ajax({
                    url: '/client/EnvoieMail',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "message": message,
                        "mail": mail
                    },
                    async: true,
                    success: function (data) {
                        console.log(data);
                        $("#success").append('<p style="color: green"> Votre message a été bien envoyé.</p>');

                    },
                    error: function(xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        alert(err.Message);
                    }
                });

            }


        }



    </script>



{% endblock %}