{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}
{% block fos_user_content %}

    <body class="login-page sidebar-collapse">
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{{ asset('home') }}">
                    Priv'Risk </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">


                    <li class="nav-item">
                        <a href="{{ path('Iriaf') }}"><img src="{{ asset('logo_iriaf (2).svg') }}" alt="Iriaf Logo" class="img-responsive logo"></a></li>

                    </li>
                    <li class="nav-item">
                        <a href="{{ path('UP') }}"><img src="{{ asset('logo-univ-poitiers.svg') }}" alt="UP Logo" class="img-responsive logo"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/ComptePrevRisk/timeline?lst=100000387084557%3A100001970867629%3A1559722371" target="_blank" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div  style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8 ml-auto mr-auto">
                    <div class="card card-login">
                        <br>

                        <div class="card-header card-header-primary text-center">
                            <h3 class="card-title">S'enregister </h3>
                            <h4 class="card-title">Etape 2</h4>
                        </div>

                        <!-- BEGIN REGISTRATION FORM -->
                        <form method="post" action="{{ path('project_inscrire') }}">

                            <input type="hidden" name="username" value="{{ username}}">

                            <div class="input-group">
                                <div class="col-lg-10 col-sm-10">
                                    <div class="form-group has-default">
                                        <legend class="col-form-label col-sm-15 pt-0">Date d'entré à l’IRIAF        (*) </legend>
                                        <input type="date" id="dateEntree" name="dateEntree"
                                               placeholder="jj/mm/yyyy" required="required" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="input-group">
                                <div class="col-lg-10 col-sm-10">
                                    <div class="form-group has-default">
                                        <legend class="col-form-label col-sm-15 pt-0">Date de sortie            (*) </legend>
                                        <input type="date" id="dateSortie" name="dateSortie"
                                               placeholder="jj/mm/yyyy" required="required" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <legend class="col-form-label col-sm-10 pt-0">Votre Situation       (*)</legend>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" onclick="afficheDiplomes();" type="radio" required="required" name="situation" id="Etudiant" value="Etudiant"> (Ancien) Etudiant
                                                <span class="circle">
                                                  <span class="check"></span>
                                                   </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" onclick="SuppDiplomes();" required="required" name="situation" id="Enseignant" value="Enseignant"> Enseignant
                                                <span class="circle">
                                                   <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>


                                </div>
                            </div>


                            <div id="diplomes">


                            </div>





                            <button onclick="afficher();" type="button" class="btn btn-primary">Ajouter Email</button>

                            <div id="emails">

                            </div>

                            <div class="input-group">
                                <div class="col-lg-10 col-sm-10">

                                        <legend class="col-form-label col-sm-60 pt-0">Votre numero de telephone</legend>
                                        <input type="text" id="telephone" name="telephone"
                                               placeholder="Numero de tel"  class="form-control"/>

                                </div>

                            </div>

                            <button onclick="affiche2();" type="button" class="btn btn-primary">Ajouter un numero de telephone</button>

                            <div id="telephones">

                            </div>

                            <br>

                            <div class="form-group" >
                                <div class="col-lg-10 col-sm-10">
                                <legend class="col-form-label col-sm-60 pt-0">Nationalite</legend>

                                <select  class="form-control" name="nationalite">
                                    <option value="vide">Votre nationalite</option>
                                    {% for n in liste%}
                                        <option value="{{ n }}">{{ n }}</option>
                                    {% endfor %}
                                </select>
                                </div>

                            </div>



                            <button onclick="affiche3();" type="button" class="btn btn-primary">Ajouter une nationalite</button>

                            <div id="nationalites">

                            </div>

                            <div class="input-group">
                                <div class="col-lg-10 col-sm-10">
                                    <div class="form-group has-default">
                                        <legend class="col-form-label col-sm-15 pt-0">Compétence</legend>
                                        <input type="text" id="competence" name="competence"
                                               placeholder="Une compétence"  class="form-control" />
                                    </div>
                                </div>
                            </div>


                            <button onclick="affiche4();" type="button" class="btn btn-primary">Ajouter Une compétence</button>

                            <div id="competences">

                            </div>

                            <br>

                            <div class="form-group">
                                <div class="col-lg-10 col-sm-10">
                                <legend class="col-form-label col-sm-60 pt-0">Experience proffesionnels</legend>
                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Poste</label>
                                        <input type="poste" class="form-control" id="inputEmail4" placeholder="Poste"
                                               name="poste">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Entreprise</label>
                                        <input type="entreprise" class="form-control" id="inputPassword4" placeholder="Entreprise"
                                               name="entreprise">
                                    </div>

                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Date de debut</label>
                                        <input type="date" class="form-control" id="inputEmail4" value="dd/mm/yyyy"
                                               name="datedebut">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Date fin</label>
                                        <input type="date" class="form-control" id="inputPassword4" value="dd/mm/yyyy"
                                               name="datefin">
                                    </div>

                                </div>
                                </div>
                            </div>

                            <button onclick="affiche5();" type="button" class="btn btn-primary">Ajouter Une experience</button>

                            <div id="experiences">

                            </div>


                            <br>
                            <br>


                            <div id="checkRadios">
                                <legend class="col-form-label col-sm-10 pt-0">J'accepte de recevoir des :</legend>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-6">

                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="actualite" name="accept1[]"> Actualités
                                                <span class="form-check-sign">
                                                   <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="offre" name="accept1[]"> Offres
                                                <span class="form-check-sign">
                                                   <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="sandage" name="accept1[]"> Sandages
                                                <span class="form-check-sign">
                                                   <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <br>
                            <div id="checkRadios">
                                <legend class="col-form-label col-sm-10 pt-0">J'accepte que mes informations personneles soit visible pour tout le monde à fin qu'ils puissent me contacter</legend>
                                <div class="row">
                                    <div class="col-lg-8 col-md-4 col-sm-6">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="acceptMail" name="accept2[]"> Emails
                                                <span class="form-check-sign">
                                                   <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" value="acceptTel" name="accept2[]"> Numero de telephone
                                                <span class="form-check-sign">
                                                   <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">Annuler</a>
                                <button type="submit" id="register-submit-btn" class="btn btn-success">Devenir Membre</button>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>

    <script>


        var i=1;

        function afficher()
        {

            $("#emails").hide(0);

            i++;

            var email="#email"+i;
            var email1="email"+i;

            var div=document.createElement('div');

            div.classList.add('form-group');

            //div.setAttribute('id',email);

            var div2=document.createElement('div');
            div2.classList.add('col-lg-10' ,'col-sm-10');

            var input=document.createElement('input');

            input.setAttribute('type',"email");

            input.setAttribute('id',email);

            input.setAttribute('name',email1);

            input.setAttribute('class','form-control');

            input.setAttribute('placeholder',"email " +i);


            div2.appendChild(input);
            div.appendChild(div2);

            document.getElementById("emails").appendChild(div);

            $("#emails").show(5);
            // body...
        }

        var j=1;

        function affiche2() {

            $("#telephones").hide(0);
            j++;

            var tel="#telephone"+j;
            var tel1="telephone"+j;

            var div=document.createElement('div');

            div.classList.add('form-group');

            var div2=document.createElement('div');
            div2.classList.add('col-lg-10' ,'col-sm-10');

            var input=document.createElement('input');

            input.setAttribute('type',"text");

            input.setAttribute('id',tel);

            input.setAttribute('name',tel1);

            input.setAttribute('class',"form-control");

            input.setAttribute('placeholder',"numero de telephone " +j);


            div2.appendChild(input);
            div.appendChild(div2);
            document.getElementById("telephones").appendChild(div);

            $("#telephones").show(5);
        }

         var k=1;
        function affiche3() {



            $("#nationalites").hide(0);
            k++;

            var nationalitesArray = {{ liste|json_encode|raw }};

            var tel="#nationalite"+k;
            var tel1="nationalite"+k;

            var div=document.createElement('div');

            div.classList.add('form-group');

            var div2=document.createElement('div');
            div2.classList.add('col-lg-10' ,'col-sm-10');


            var selectList = document.createElement("select");
            selectList.id = tel;
            selectList.setAttribute('name',tel1);
            selectList.setAttribute('class',"form-control");
            div2.appendChild(selectList);


            for(var i=0;i<nationalitesArray.length;i++) {
                var option = document.createElement("option");
                option.value =nationalitesArray[i];
                option.text =nationalitesArray[i];
                selectList.appendChild(option);
            }

            div.appendChild(div2);


            document.getElementById("nationalites").appendChild(div);

            $("#nationalites").show(5);

        }

       var h=1;
        function affiche4() {

            $("#competences").hide(0);
            h++;

            var tel="#competence"+h;
            var tel1="competence"+h;

            var div=document.createElement('div');

            div.classList.add('form-group');

            var div2=document.createElement('div');
            div2.classList.add('col-lg-10' ,'col-sm-10');

            var input=document.createElement('input');

            input.setAttribute('type',"text");

            input.setAttribute('id',tel);

            input.setAttribute('name',tel1);

            input.setAttribute('class',"form-control");

            input.setAttribute('placeholder',"Competence " +h);


            div2.appendChild(input);
            div.appendChild(div2);

            document.getElementById("competences").appendChild(div);

            $("#competences").show(5);

        }


     var   m=1;

        function affiche5() {


            $("#experiences").hide(0);
            m++;
            var poste ="poste"+m;
            var posteid ="#poste"+m;

            var entreprise = "entreprise"+m;
            var entrepriseid="#entreprise"+m;

            var datedeb ="datedeb"+m;
            var datedebid="#datedeb"+m;

            var datefin ="datefin"+m;
            var datefinid = "#datefin"+m;

            /*var labelPoste = document.createElement('label');
            labelPoste.setAttribute('for',posteid);
            labelPoste.textContent="Poste";*/


            var divprinc=document.createElement('div');

            divprinc.classList.add('form-group');

            var div = document.createElement('div');
            div.classList.add('col-lg-10','Col-sm-10');

            divprinc.appendChild(div);

            var div2 = document.createElement('div');

            div2.classList.add('form-group', 'Col-md-6');



            var inputPoste = document.createElement('input');
            inputPoste.setAttribute('type',"text");
            inputPoste.setAttribute('class',"form-control");
            inputPoste.setAttribute('placeholder',"Poste "+m)
            inputPoste.setAttribute('name',poste);
            inputPoste.setAttribute('id',posteid);

            div2.appendChild(inputPoste);


            var divFormgroup2=document.createElement('div');
            divFormgroup2.classList.add('form-group','Col-md-6');

            var inputEntreprise = document.createElement('input');
            inputEntreprise.setAttribute('type',"text");
            inputEntreprise.setAttribute('class',"form-control");
            inputEntreprise.setAttribute('placeholder',"Entreprise "+m);
            inputEntreprise.setAttribute('name',entreprise);
            inputEntreprise.setAttribute('id',entrepriseid);

            divFormgroup2.appendChild(inputEntreprise);

            var divFormrow1 = document.createElement('div');
            divFormrow1.classList.add('form-row');

            divFormrow1.appendChild(div2);
            divFormrow1.appendChild(divFormgroup2);

            var divFormgroup3 = document.createElement('div');

            divFormgroup3.classList.add('form-group','Col-md-6');



            var inputdate = document.createElement('input');
            inputdate.setAttribute('type',"date");
            inputdate.setAttribute('class',"form-control");
            inputdate.setAttribute('value',"dd/mm/yyyy")
            inputdate.setAttribute('name',datedeb);
            inputdate.setAttribute('id',datedebid);

            divFormgroup3.appendChild(inputdate);


            var divFormgroup4=document.createElement('div');
            divFormgroup4.classList.add('form-group','Col-md-6');

            var inputdatefin = document.createElement('input');
            inputdatefin.setAttribute('type',"date");
            inputdatefin.setAttribute('class',"form-control");
            inputdatefin.setAttribute('value',"dd/mm/yyyy");
            inputdatefin.setAttribute('name',datefin);
            inputdatefin.setAttribute('id',datefinid);

            divFormgroup4.appendChild(inputdatefin);

            var divFormrow2 = document.createElement('div');
            divFormrow2.classList.add('form-row');

            divFormrow2.appendChild(divFormgroup3);
            divFormrow2.appendChild(divFormgroup4);

            div.appendChild(divFormrow1);
            div.appendChild(divFormrow2);

            document.getElementById("experiences").appendChild(div);

            $("#experiences").show(5);

        }

        var nb =0;
        var ok =false;
        function afficheDiplomes() {
             nb++;
            if(nb==1){
            $("#diplomes").hide(0);

            var divInputGroup = document.createElement('div');

            divInputGroup.classList.add('input-group');

            var legend = document.createElement('legend');
            legend.classList.add('col-form-label','col-sm-10','pt-0');
            legend.innerHTML="Diplôme préparé (*) ";

            divInputGroup.appendChild(legend);

            var divRow = document.createElement('div');

            divRow.classList.add('row');

            var divCol = document.createElement('div');

            divCol.classList.add('col-sm-10');

            /* Debut formCheck1 */

            var formCheck1 = document.createElement('div');

            formCheck1.classList.add('form-check');

            var label1 = document.createElement('label');
            label1.classList.add('form-check-label');
            label1.innerHTML="Specialite1";

            var input1 = document.createElement('input');
            input1.setAttribute('class','form-check-input');
            input1.setAttribute('type','radio');
            input1.setAttribute('name','diplome');
            input1.setAttribute('id','#specialite1');
            input1.setAttribute('value','specialite1');

            var span1 = document.createElement('span');
            span1.classList.add('circle');

            var span11 = document.createElement('span');
            span11.classList.add('check');

            span1.appendChild(span11);

            label1.appendChild(input1);
            label1.appendChild(span1);

            formCheck1.appendChild(label1);

            divCol.appendChild(formCheck1);

            divRow.appendChild(divCol);

            legend.appendChild(divRow);


            /*FIn formCheck 1*/

            var formCheck2 = document.createElement('div');

            formCheck2.classList.add('form-check');

            var label2 = document.createElement('label');
            label2.classList.add('form-check-label');
            label2.innerHTML="Specialite2";

            var input2 = document.createElement('input');
            input2.setAttribute('class','form-check-input');
            input2.setAttribute('type','radio');
            input2.setAttribute('name','diplome');
            input2.setAttribute('id','#specialite2');
            input2.setAttribute('value','specialite2');

            var span2 = document.createElement('span');
            span2.classList.add('circle');

            var span22 = document.createElement('span');
            span22.classList.add('check');


            span2.appendChild(span22);

            label2.appendChild(input2);
            label2.appendChild(span2);

            formCheck2.appendChild(label2);

            divCol.appendChild(formCheck2);


            var formCheck3 = document.createElement('div');

            formCheck3.classList.add('form-check');

            var label3 = document.createElement('label');
            label3.classList.add('form-check-label');
            label3.innerHTML="Specialite3";

            var input3 = document.createElement('input');
            input3.setAttribute('class','form-check-input');
            input3.setAttribute('type','radio');
            input3.setAttribute('name','diplome');
            input3.setAttribute('id','#specialite3');
            input3.setAttribute('value','specialite3');

            var span3 = document.createElement('span');
            span3.classList.add('circle');

            var span33 = document.createElement('span');
            span33.classList.add('check');


            span3.appendChild(span33);

            label3.appendChild(input3);
            label3.appendChild(span3);

            formCheck3.appendChild(label3);

            divCol.appendChild(formCheck3);


            document.getElementById("diplomes").appendChild(divInputGroup);


                $("#diplomes").show(5);

            }else{
                if(ok==true){
                    $("#diplomes").show(5);
                }
            }


        }

        function SuppDiplomes() {
            $("#diplomes").hide(0);
            ok=true;
        }

        /**/
    </script>


    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&ev=PageView&noscript=1" />
    </noscript>
    </body>

{% endblock fos_user_content %}