{% extends "base2.html.twig" %}


{% block sidebar %}
    <div id="wrapper">
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="{{ path('admin_page') }}" class=""><i class="lnr lnr-home"></i> <span>Tableau de bord</span></a></li>
                        <li><a href="{{ path('demande_addmission') }}" class=""><i class="lnr lnr-envelope"></i> <span>Demandes d'addmission</span></a></li>
                        <li><a href="{{ path('gerer_offre_admin') }}" class="active"><i class="lnr lnr-envelope"></i> <span>Gerer offres</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Gerer utilisateurs</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="{{ path('admin_gerer_admins') }}" class="">Gerer admins</a></li>
                                    <li><a href="{{ path('admin_gerer_moderateur') }}" class="">Gerer Modérateur</a></li>
                                    <li><a href="{{ path('admin_gerer_utilisateur') }}" class="active">Gerer membres</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="{{ path('profil') }}" class=""><i class="lnr lnr-user"></i> <span>Profil</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}


{% block body %}



    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            {% if app.session.flashBag.has('token') %}

                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-check-circle"></i> {% for msg in app.session.flashBag.get('token') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-fluid">
                <!-- OVERVIEW -->
                <div class="panel panel-headline">
                    <div class="panel-heading">
                        <div class="panel panel-headline">
                            <div class="panel-heading">
                                <h3 class="panel-title">Gerer offres</h3>
                                <p class="panel-subtitle"></p>
                            </div>
                            <div class="panel-body">
                                <h4>Explication</h4>
                                <p>Cette rubrique permet aux administrateurs de trouver les offres signalés par les membres de priv'risk , l'administrateur peut les consulter et les supprimer.</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Offres signalé</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Poste</th>
                                <th>Type</th>
                                <th>Societé</th>
                                <th>Lieux</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in offres%}
                                <tr id="tr{{ u.id }}">
                                    <td class="id">{{ u.id }}</td>
                                    <td class="poste">{{ u.poste }}</td>
                                    <td class="type">{{ u.type }}</td>
                                    <td class="societe">{{ u.societe}}</td>
                                    <td>{{ u.lieux}}</td>


                                    <td><button type="submit" class="btn btn-danger btn-sm btnSelect"  name="{{ u.id }}" value="supp"><i class="fa fa-trash-o"></i> Supprimer</button></td>
                                    <div id="{{ u.id }}" class="des{{ u.id }}">

                                    </div>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <footer>
        <div class="container-fluid">
            <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>

    <script>

        $(document).ready(function(){
            // code to read selected table row cell data (values).
            $(".btnSelect").on('click',function(){


                var currentRow=$(this).closest("tr");
                var id=currentRow.find("td:eq(0)").html();


                $.ajax({
                    url:'/client/mesOffres/supprimer',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "id": id
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data);

                        $("table tbody").find('button[name='+id+']').each(function(){

                            $(this).parents("tr").hide(1000);

                            $("#" + id).hide(1000);
                            $("#" + id).empty();

                        });


                    }
                })


            });
        });
    </script>



{% endblock %}